.createPost {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1rem;
}

textarea {
    resize: vertical;
}

button {
    width: max-content;
    padding: .5rem;
    border-radius: .3rem;
}