.friends {
    border: 1px solid white;
    border-radius: 50%;
    background-color: whitesmoke;
    padding: 0.3rem;
    margin: 0.3rem;
    /* width: max-content; */
}

.friends img {
    display: block;
    font-style: italic;
    font-size: small;
}