.header {
    grid-area: header;
    grid-column: auto / span 2;
    background-color: rgb(161, 226, 248);
    display: flex;
}

.header img {
    width: 3rem;
    object-fit: cover;
    background-color: rgb(161, 226, 248);
}
.header span {
    align-self: center;
}