.nav {
    grid-area: nav;
    background-color: lightskyblue;
}
.nav a {
    text-decoration: none;
    color: white;
}

nav a.activeLink {
    color: gold;
    background-color: #fff;
    border-radius: 10%;
}
