.sidebar {
    grid-area: sidebar;
    background-color: rgba(113, 204, 235, 0.76);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sidebar h3 {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.menu {
    margin: 0;
    width: 100%;
}

.friends {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}